<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid" id="personal-info-container">
      <!-- about, archive, work -->
      <ul id="personal-info-container">
        <li>
          <a href="#">About Me</a> /
        </li>
        <li>
          <a href="#">Current Projects</a> /
        </li>
        <li>
          <a href="#">Contact Info</a>
        </li>
      </ul>
    </div>
  </div>
</div>