<div id="about-me-container">
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <div id="about-me">
        <!-- about placeholder -->
        <h3 id="about-me-title">

        </h3>
        <div id="about-me-date">

        </div>
        <div class="half-line-break"></div>
        <p class="indent" id="about-me-content">

        </p>
        <!-- about placeholder -->
      </div>
    </div>
    <div class="span3"></div>
  </div>
</div>
