<!-- title -->
<div class="span6">
  <h1 id="title">Code, Game, Sleep</h1>
</div>

<!-- desktop external links -->
<div class="span6 hidden-phone hidden-tablet" id="desktop-links">
  <div class="row-fluid">
    <div class="span3 external-link pull-right" id="youtube-link"><a href="http://www.youtube.com/codegamesleep/"><i class="icon-youtube-sign icon-3x"></i></a></div>
    <div class="span3 external-link pull-right" id="linkedin-link"><a href="http://www.linkedin.com/pub/chris-magnacca/23/380/243/"><i class="icon-linkedin-sign icon-3x"></i></a></div>
    <div class="span3 external-link pull-right" id="twitter-link"><a href="http://www.twitter.com/chrismagnacca/"><i class="icon-twitter-sign icon-3x"></i></a></div>
    <div class="span3 external-link pull-right" id="github-link"><a href="http://www.github.com/chrismagnacca/"><i class="icon-github-sign icon-3x"></i></a></div>
  </div>
</div>

<!-- mobile external links -->
<div class="span6 hidden-desktop" id="mobile-links">
  <div class="row-fluid">
    <div class="span6 pull-right">
      <div class="span3 external-link" id="youtube-link"><a href="http://www.youtube.com/codegamesleep/"><i class="icon-youtube-sign icon-3x"></i></a></div>
      <div class="span3 external-link" id="linkedin-link"><a href="http://www.linkedin.com/pub/chris-magnacca/23/380/243/"><i class="icon-linkedin-sign icon-3x"></i></a></div>
      <div class="span3 external-link" id="twitter-link"><a href="http://www.twitter.com/chrismagnacca/"><i class="icon-twitter-sign icon-3x"></i></a></div>
      <div class="span3 external-link" id="github-link"><a href="http://www.github.com/chrismagnacca/"><i class="icon-github-sign icon-3x"></i></a></div>
    </div>
  </div>
</div>