<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid" id="personal-info-container">
      <!-- about, archive, work -->
      <ul id="personal-info-container">
        <li>
          <a href="/">Home</a> /
        </li>
        <li>
          <a id='current-projects-link' href='/projects'>Projects</a> /
        </li>
        <li>
          <a id='contact-info-link' href='/about'>About Me</a>
        </li>
      </ul>
    </div>
  </div>
</div>