.hidden-phone#newer-older-container
  .container-fluid
    .row-fluid
      .span3
      .span1#newer
        -# newer placeholder
      .span4
      .span1#older
        -# older placeholder
      .span3