<div id="newer-older-container" class="hidden-phone">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3"></div>
      <div id="newer" class="span1">
        <!-- newer placeholder -->
      </div>
      <div class="span4"></div>
      <div id="older" class="span1">
        <!-- older placeholder-->
      </div>
      <div class="span3"></div>
    </div>
  </div>
</div>