<div id="index-container">
  <div class="container-fluid">
    <div class="row-fluid" id="title-row">
      <div class="span12">
        <div class="row-fluid">
          <div class="span8">
            <h1 id="title">Code, Game, Sleep</h1>
          </div>

          <div class="span4">
            <div class="row-fluid hidden-phone">
              <div class="span1 external-link pull-right" id="linkedin-link"><a href="http://www.linkedin.com/pub/chris-magnacca/23/380/243/"><i class="icon-linkedin-sign icon-3x"></i></a></div>
              <div class="span1 external-link pull-right" id="youtube-link"><a href="http://www.youtube.com/codegamesleep/"><i class="icon-youtube-sign icon-3x"></i></a></div>
              <div class="span1 external-link pull-right" id="twitter-link"><a href="http://www.twitter.com/chrismagnacca/"><i class="icon-twitter-sign icon-3x"></i></a></div>
              <div class="span1 external-link pull-right" id="github-link"><a href="http://www.github.com/chrismagnacca/"><i class="icon-github-sign icon-3x"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row-fluid">
      <div class="span12 line-break"></div>
    </div>

    <div id="post-container">
      <div class="row-fluid">
        <div class="span2"></div>
        <div class="span8">
          <div id="post">
            <!-- post placeholder -->
          </div>
        </div>
        <div class="span2"></div>
      </div>
    </div>

  </div>
</div>