<div id="post-container">
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <div id="projects">
        <!-- project placeholder -->
        <h3 id="projects-title">
          Projects
        </h3>
        <div class="half-line-break"></div>
        <ul id="projects-list">
          <li><a href="https://github.com/chrismagnacca/newegg-api/">Newegg Api</a>: A Ruby Wrapper around the Newegg Mobile API</li>
          <li><a href="https://github.com/chrismagnacca/alp/">Ascension Preschool Website</a>: C# MVC Website for Ascension Lutheran Preschool</li>
        </ul>

        <p class="indent" id="projects-content">

        </p>
        <!-- project placeholder -->
      </div>
    </div>
    <div class="span3"></div>
  </div>
</div>
