#post-container
  .row-fluid
    .span3
    .span6
      #projects
        -# project placeholder
        %h3#projects-title='Projects'
        .half-line-break
        %ul#projects-list
          %li
            = link_to 'Newegg Api', 'https://github.com/chrismagnacca/newegg-api/'
            \: A Ruby Wrapper around the Newegg Mobile API
          %li
            = link_to 'Ascension Preschool Website', 'https://github.com/chrismagnacca/alp/'
            \: C# MVC Website for Ascension Lutheran Preschool
    .span3
