<div id="contact-info-container">
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <div id="contact-info">
        <!-- about placeholder -->
        <h3 id="contact-info-title">
          Who I Am
        </h3>
        <div class="half-line-break"></div>
        <p class="indent" id="contact-info-content">

        </p>
        <h3 id="contact-info-title">
          What I Do
        </h3>
        <div class="half-line-break"></div>
        <p class="indent" id="contact-info-content">

        </p>
        <h3 id="contact-info-title">
          Get In Touch
        </h3>
        <div class="half-line-break"></div>
        <p class="indent" id="contact-info-content">

        </p>
        <!-- about placeholder -->
      </div>
    </div>
    <div class="span3"></div>
  </div>
</div>
