<div id="contact-info-container">
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <div id="about-info">
        <!-- about placeholder -->
        <h3 id="who-i-am">
          Who I Am
        </h3>
        <div class="half-line-break"></div>
        <div class="row-fluid">
          <div id="bio-pic" class="span5">
            <span class="bio-pic">
              <%= image_tag "bio.png" %>
            </span>
          </div>
          <div id="bio-text" class="span7">
            <p class="indent2x" id="who-i-am-content">
              I am a Software Developer enjoying life in New Albany, Ohio.
              I enjoy writing software, playing video games, and anything computer hardware related.
              Nothing drives me more than the desire to learn new technologies.
            </p>
          </div>
        </div>
        <h3 id="what-i-do">
          What I Do
        </h3>
        <div class="half-line-break"></div>
        <p class="indent2x" class="what-i-do-content">
          Apps, Websites, Testing! I enjoy writing quality, test-driven software in Ruby on Rails.
          I also have experience test-driving C# in ASP.NET MVC using a variety of testing tools.
          I am a strong proponent of Git and all of my personal code, this blog included, can be found on
          <a href="http://www.github.com/chrismagnacca/">GitHub</a>.
        </p>
        <p class="indent2x" class="what-i-do-content">
          Custom built PCs are a hobby of mine as well.
          I have built a variety of machines ranging from servers, gaming rigs, and hackintosh systems.
          In need of a new machine but don't know where to start?
          I am always interested in getting quality hardware together at the best possible price.
        </p>
        <h3 id="get-in-touch">
          Get In Touch
        </h3>
        <div class="half-line-break"></div>
        <div class="row-fluid">
          <div class="span12">
            <p class="indent2x" id="get-in-touch-content">
              New app ideas? In need of a custom computer? Get in touch and let's discuss your latest and greatest idea.
            </p>
          </div>
        </div>
        <div class="row-fluid">
          <div id="email-link" class="span6">
            <a href="mailto:chris.magnacca@gmail.com"><i class="icon-envelope-alt icon-3x"></i></a>
            <br />
            <a href="mailto:chris.magnacca@gmail.com">chris.magnacca@gmail.com</a>
          </div>
          <div id="phone-link" class="span6">
            <a href="tel:16143138887"><i class="icon-phone icon-3x"></i></a>
            <br />
            <a href="tel:16143138887">614.313.8887</a>
          </div>
        </div>
        <!-- about placeholder -->
      </div>
    </div>
    <div class="span3"></div>
  </div>
</div>
