// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#contact-info h3 {
  text-align: center;
  max-width: inherit;
  padding-bottom: 0.25em;
}
