/* large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    body {
        max-width: 60.00em;
    }

    div#title-row {
        padding-top: 2.25em !important;
    }

    h1, h2, h3 {
        font-weight: 100;
        line-height: normal !important;
        text-align: center !important;
    }

    div#twitter-link, div#github-link, div#linkedin-link, div#youtube-link {
        max-width: 2.25em !important;
        padding-top: 1.25em;
    }

    #external-links {
        padding-bottom: 2.00em;
    }

    ul#personal-info-container {
        margin-left: 3.50em !important;
    }

    p.indent2x {
        padding-left: 2.75em;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px){
    body {
        max-width: 47.00em;
    }

    div#title-row {
        padding-top: 2.00em !important;
    }

    h1, h2, h3 {
        font-weight: 100;
        line-height: normal !important;
        text-align: center !important;
    }

    div#twitter-link, div#github-link, div#linkedin-link, div#youtube-link {
        display: inline-block;
        padding-bottom: 1em;
    }

    ul#personal-info-container {
        margin-left: 3.50em;
    }

    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        text-align: center;
    }

    div#email-link {
        padding-bottom: 0.5em;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body {
        max-width: 30.00em;
    }

    div#title-row {
        padding-top: 2.00em !important;
    }

    h1, h2, h3 {
        font-weight: 100;
        line-height: normal !important;
        text-align: center !important;
    }

    div#twitter-link, div#github-link, div#linkedin-link, div#youtube-link {
        display: inline-block;
        padding-bottom: 1em;
    }

    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        text-align: center;
    }

    div#email-link {
        padding-bottom: 0.5em;
    }
}