// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#post h3 {
  text-align: center;
  max-width: inherit;
  padding-bottom: 0.25em;
}

div#post-date {
  margin-top: -0.5em;
  padding-bottom: 0.25em;
  line-height: 1.5em;
  text-align: center;
}

p span.source-code {
  padding-top: -0.5em;
  font-size: 0.90em;
  font-family: 'Source Code Pro', 'Segoe UI', sans-serif;
}

div#post {
  padding-bottom: 5em;
}

pre {
  background-color: #dad9d4;
  border: none;
  line-height: 0.625em;
  font-size: 0.80em;
}

img.small-pic {
  max-width: 12.500em;
  max-height: 11.000em;
  text-align: center;
  border-radius: 0.313em;
  cursor: pointer;
}