// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#post h3 {
  text-align: center;
  max-width: inherit;
  padding-bottom: 0.25em;
}

div#post-date {
  margin-top: -0.5em;
  padding-bottom: 0.25em;
  line-height: 1.5em;
  text-align: center;
}

