// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#post h3 {
  text-align: center;
  max-width: inherit;
  padding-bottom: 0.25em;
}

div#post-date {
  margin-top: -0.5em;
  padding-bottom: 0.25em;
  line-height: 1.5em;
  text-align: center;
}

p.indent {
  line-height: 1.5em;
  text-indent:0.313em;
  padding-top: 0.75em;
}

div.half-line-break {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px dashed #838f9f;
}