// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#projects h3 {
  text-align: center;
  max-width: inherit;
  padding-bottom: 0.25em;
  padding-top: 1.5em;
}

ul#projects-list {
  font-size: 0.90em;
  text-align: left;
  list-style-type: none;
}

ul#projects-list li {
  padding-bottom: 0.5em;
}