html{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    background-color: #dad9d4;
}

h1, h2, h3 {
    font-weight: 100;
    line-height: 0.75;
}


p {
    font-size: 1em;
    font-weight: 400;
    text-indent:0.626em;
}

p.indent2x {
    text-indent:1.250em;
    padding-top: 0.75em;
}

body {
    font-size: 1.0em;
    font-family: 'Roboto', 'Segoe UI', Verdana, Helvetica, sans-serif;
    background-color: #dad9d4;
}

header, footer, nav, section {
    display: block;
}

div#title-row {
    padding-top: 3em;
}

div.line-break {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #838f9f;
}

div.half-line-break {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px dashed #838f9f;
    padding-bottom: 0.625em;
}

div#twitter-link a, div#github-link a, div#linkedin-link a, div#youtube-link a {
    text-decoration: none;
}

div#twitter-link, div#github-link, div#linkedin-link, div#youtube-link {
    max-width: 2.5em;
}

div.external-link {
    margin-left: 0.313em !important;
    margin-right: 0.313em !important;
}

div#index-container {
    max-width: 80em;
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
}

div#newer-older-container {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

div#footer-container {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.00em;
}

div#footer-text {
    font-size: 0.85em;
    text-align: center;
}

div#newer {
    text-align: left;
}

div#older {
    text-align: right;
}

/* _about.html.erb  */

ul#personal-info-container {
    vertical-align: super;
    margin-top: -2.00em;
    margin-left: 0;
    font-size: 90%;
    width: 100%;
}

ul#personal-info-container li {
    list-style-type: none;
    display: inline;
}